.form {
    background-color: rgb(232, 232, 232);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

h1 {
    color: rgb(195, 151, 8);
    text-align: center;
}

input[type=text],
select {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(215, 215, 215);
    box-sizing: border-box;
    margin: 4px 4px 0 0;
    resize: vertical;
}

input.button {
    background-color: rgb(232, 175, 42);
    color: white;
    cursor: pointer;
    padding: 6px 8px;
    border: none;
    border-radius: 3px;
}
