DOCTYPE 
html 
    head 
        title Online Dictionary Project
        link(rel="stylesheet", href='/dict.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')    
        script(src='/dict.js') 
        body    
            div.head
                h1 WAP Online Dictionary 
            div.user-search
                label Term: 
                input(name ='uinput' id="uinput" type='text')
                input(type='button' id='btn-lookup' value='Lookup')
                <hr>
                div.output
                
                   

