body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

h1 {
    color: rgb(255, 153, 0);
    margin-bottom: 34px;
    text-align: center;
}

form, .result {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    padding: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

label {
    color: rgba(87, 87, 87, 0.842);
}

input,
button,
select {
    background-color: rgb(248, 246, 246);
    border: 1px solid rgb(177, 171, 159);
    padding: 4px;
    border-radius: 6px;
}


h3 {
    color: #e09626;
    margin-bottom: 56px;
}

a {
    text-decoration: none;
}